<header role="banner">
  <div class="container-fluid center-xs">
    <img src="images/illustration-top.svg" alt="Design, develop and organize code" title="Design, develop and organize code" height="auto" width="320" class="mt">

    <h1>Design, develop and organize your code</h1>

    <p class="txt-lead">
      Seneca is a microservices toolkit for Node.js. <br>
      It helps you write clean, organized code that you can scale and deploy at any time.
    </p>

    <pre><code class="txt-lead">$ npm install seneca --save</code></pre>
  </div>
</header>
