<div class="row">
  <h1 class="col-xs-12 mb2x">Try Seneca now</h1>

  <div class="col-xs-12 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-download" href="https://github.com/senecajs/seneca">
      <p class="txt-center mb0"><i class="icon icon-download"></i></p>
      <p class="mb0">Download and install</p>
    </a>
  </div>

  <div class="col-xs-12 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-start" href="/get-started/" >
      <p class="txt-center mb0"><i class="icon icon-start"></i></p>
      <p class="mb0">Quick start</p>
    </a>
  </div>

  <div class="col-xs-12 col-md-4 panel-equal-height">
    <a class="panel panel-highlighted panel-updates" href="https://github.com/senecajs/seneca/releases" >
      <p class="txt-center mb0"><i class="icon icon-updates"></i></p>
      <p class="mb0">Updates and releases</p>
    </a>
  </div>
</div>
