<footer>
  <div class="footer-one">
    <div class="col-md-12 column">
      <header class="row clearfix hp">
        <div class="col-md-12 column">
          <img src="/images/logo-inverse.png" alt="seneca" />

        </div>
      </header>
      <div class="row clearfix social">
        <div class="col-md-4 column">
          <p>
            <a href="https://github.com/rjrodger/seneca">
              <i class="fa fa-github fa-2x"></i>
              Github
            </a>
          </p>
        </div>
        <div class="col-md-4 column">
          <p>
            <a href="/tutorials/">
              <i class="fa fa-bookmark fa-2x"></i>
              Documentation
            </a>
          </p>
        </div>
        <div class="col-md-4 column">
          <p>
            <a href="https://twitter.com/senecajs">
              <i class="fa fa-twitter fa-2x"></i>
              Twitter
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-two">
    © <a href="https://github.com/rjrodger">Richard Rodger</a> and <a href="https://github.com/senecajs/senecajs.org/contributors">other</a> <a href="https://github.com/rjrodger/seneca/contributors">contributors</a> 2010 - 2015. Powered by <a href="http://metalsmith.io">MetalSmith</a>, hosted by <a href="http://surge.sh">Surge</a>. A <a href="http://nearform.com">nearForm</a> project.
  </div>
</footer>
