<footer role="contentinfo">

  <div class="footer-top">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12">
          <img src="/images/logo-seneca-inversed.svg" class="logo-seneca-lg" alt="Seneca" />
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
          <p class="mt"><a href="https://github.com/senecajs/seneca" class="link-has-icon icon icon-github">Github</a></p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
          <p class="mt"><a href="/docs/" class="link-has-icon icon icon-docs">Documentation</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <p class="mt"><a href="https://twitter.com/senecajs" class="link-has-icon icon icon-twitter">Twitter</a></p>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- footer top -->

  <div class="footer-bottom">
    <div class="container-fluid txt-center">
      <p class="mb0">© <a href="https://github.com/rjrodger">Richard Rodger</a> and <a href="https://github.com/senecajs/senecajs.org/contributors">other</a> <a href="https://github.com/senecajs/seneca/contributors">contributors</a> 2010 - 2017. Powered by <a href="http://metalsmith.io">MetalSmith</a>, hosted by <a href="http://surge.sh">Surge</a>. A <a href="http://nearform.com">nearForm</a> project.</p>
    </div>
  </div>
  <!-- footer bottom -->
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" integrity="sha256-vrn14y7WH7zgEElyQqm2uCGSQrX/xjYDjniRUQx3NyU=" crossorigin="anonymous"></script>
