<nav class="nav-main" role="navigation">
  <div class="container-fluid cf">
    <a class="logo logo-seneca" href="/" title="Seneca">Seneca</a>  
    
    <div class="nav-search">
      <input type="search" id="seneca-search-input" placeholder="Search the docs...">  
    </div>
    <!-- nav search -->  
    
    <div class="nav-bar">
      
      <input type="checkbox" name="nav-menu-handle" id="nav-menu-handle" class="nav-menu-handle">
      <label for="nav-menu-handle"></label>
      
      <ul class="list-unstyled list-inline nav-items">
        <li><a href='/get-started/'>Getting started</a></li>
        <li><a href='/docs/'>Documentation</a></li>
        <li><a href='/faq.html'>FAQ</a></li>
        <li><a href='/api/'>API</a></li>
        <li><a href='/plugins/'>Plugins</a></li>
        <li><a href='/support/'>Support</a></li>
        <li><a href='/contribute/'>Contribute</a></li>
      </ul>
      <!-- nav items -->
    </div>  

  </div>
  <!-- container -->
</nav>
