<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-960">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="images/logo-small.png" alt="Seneca" />
        <span>SenecA</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href='/get-started/'>Getting Started</a></li>
      <li><a href='/tutorials/'>Tutorials</a></li>
      <li><a href='/api/'>API</a></li>
      <li><a href='/plugins/'>Plugins</a></li>
      <li><a href='/support/'>Support</a></li>
      <li><a href='/contribute/'>Contribute</a></li>
    </ul>
  </div>
</nav>
