<nav class="nav" role="navigation">
  <div class="container-fluid">
    <a class="logo logo-seneca" href="/">Seneca</a>
      
    <ul class="list-unstyled list-inline">
      <li>
        <input type="text" id="seneca-search-input" placeholder="Search the docs...">
      </li>
      <li><a href='/get-started/'>Getting started</a></li>
      <li><a href='/tutorials/'>Tutorials</a></li>
      <li><a href='/faq.html'>FAQ</a></li>
      <li><a href='/api/'>API</a></li>
      <li><a href='/plugins/'>Plugins</a></li>
      <li><a href='/support/'>Support</a></li>
      <li><a href='/contribute/'>Contribute</a></li>
    </ul>
  </div>
</nav>