/*********************************************************************
*
* FOOTER
*
*********************************************************************/

@import "../globals/variables";

.footer-top {
  padding: $ui-spacing-double 0 $ui-spacing 0;
  background-color: $green;
  
  a {
    color: $green-lighter;
  }
}

.footer-bottom {
  padding-top: $ui-spacing;
}