/*********************************************************************
*
* HEADER
*
*********************************************************************/

@import "../globals/variables";

header {
  padding: $ui-spacing 0;
  background-color: $green;
  color: white;
  box-shadow: 0 2px 20px rgba($gray-dark, 0.5);

  pre {
    padding: $ui-spacing-third $ui-spacing-half;
    background-color: $green-lighter;
    color: $gray-dark;
  }
}
