/*********************************************************************
*
* ICONS
*
*********************************************************************/

@import "../globals/variables";

.icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.icon-github,
.icon-twitter,
.icon-docs {
  background-position: 0 0;
  
  &:hover {
    background-position: 0 -34px;
  }
}

.icon-github {
  background-image: url("/images/icon-github.svg");
}

.icon-docs {
  background-image: url("/images/icon-docs.svg");
}

.icon-twitter {
  background-image: url("/images/icon-twitter.svg");
}

.link-has-icon {
  display: inline-block;
  padding-left: $ui-spacing + $ui-spacing-half;
  line-height: 1.9;
}
