/*********************************************************************
*
* LOGOS
*
*********************************************************************/

@import "../globals/variables";

.logo,
.logo-company {
  display: inline-block;
  cursor: pointer;
  transition: opacity .5s ease-in;
  
  &:hover {
    opacity: .6;
  }
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logo-seneca-inversed {
  height: 39px;
  width: 200px;
}

.logo-seneca {
  position: relative;
  top: 3px;
  height: 39px;
  background-image: url("/images/logo-seneca.svg");
}

.logo-seneca-lg {
  width: 350px;
  max-width: 100%;
}

.logo-company {
  margin: $ui-spacing-half $ui-spacing;
}

@media screen and (max-width: $mobile-rg) {
  
  .logo.logo-seneca {
    width: 30px;
    height: 24px;
    top: 10px;
    background-size: cover;
  }
  
  input[type="search"] {
    max-width: 150px;
  }
  
}

@media screen and (min-width: $mobile-rg + $breakpoint-step) and (max-width: $desktop-lg) {
  
  .logo.logo-seneca {
    width: 50px;
    background-size: cover;
  }
  
}

@media screen and (min-width: $desktop-lg + $breakpoint-step) {
  
  .logo.logo-seneca {
    width: 200px;
  }
  
}