/*********************************************************************
*
* NAVIGATION
*
*********************************************************************/

@import "../globals/variables";

.nav-main {
  padding: $ui-spacing-half 0;
  border-bottom: $ui-border;
  
  li:not(.nav-item-search) a {
    display: block;
    padding: $ui-spacing-third 0;
  }
    
}