/*********************************************************************
*
* SEARCH
*
*********************************************************************/

@import "../globals/variables";

.aa-dropdown-menu {
  border: $ui-border;
  padding: 0;
  box-shadow: 0 2px 10px rgba($gray-dark, 0.5);
}

.algolia-docsearch-suggestion__secondary {
  border: none;
}

.algolia-docsearch-suggestion__secondary .algolia-docsearch-suggestion--content,
.algolia-docsearch-footer {
  border-top: $ui-border;
}

// Bottom border of each suggestion

.algolia-docsearch-suggestion {
  border-bottom-color: $gray-light;
}

// Main category headers

.algolia-docsearch-suggestion--category-header {
  background-color: $green;
}

.algolia-docsearch-suggestion--category-header:first-child {
  border-radius: 3px 3px 0 0;
}

// Highlighted search terms

.algolia-docsearch-suggestion--highlight {
  color: $gray-dark;
}

.algolia-docsearch-suggestion--content .algolia-docsearch-suggestion--highlight {
  color: $green;
}

// Highligted search terms in the main category headers

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: $green-light;
}

// Currently selected suggestion

.aa-cursor .algolia-docsearch-suggestion--content {
  color: $green;
}

.aa-cursor .algolia-docsearch-suggestion {
  background: $green-lighter;
}

// For bigger screens, when displaying results in two columns

@media (min-width: 768px) {
  
  // Bottom border of each suggestion
  .algolia-docsearch-suggestion {
    border-bottom-color: $gray-light;
  }
  
  // Left column, with secondary category header
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: $gray-light;
    background-color: $gray-lighter;
    color: $gray;
  }
}