/*********************************************************************
*
* TYPE
*
*********************************************************************/

@import "../globals/variables";

html {
  font-size: 100%;
}

body {
  font-family: $font-open-sans;
  font-size: $font-base;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
  font-weight: $font-weight-base;
}

code, pre, kbd, samp {
  font-family: $font-monospaced;
}

// Headings

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}
  
h4 {
  font-size: $font-h4;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-weight: $font-weight-bold;
  font-family: $font-merriweather;
}

// Helpers

strong,
b {
  font-weight: $font-weight-bold
}

.txt-small {
  font-size: $font-small;
}

.txt-lead {
  font-size: $font-large;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

@media screen and (max-width: $mobile-rg) {
  
  h1 {
    font-size: $font-h3;
  }
  
  h1, h2, h3 {
    line-height: $line-height-headings;
  }
  
  .txt-lead {
    font-size: $font-base;
  }
  
}

@media screen and (min-width: $mobile-rg + $breakpoint-step) {
  h1 {
    font-size: $font-h1;
  }
}