html {
  font-size: 10px;
}

/*---- base ----*/

body {
	font-family: "Merriweather";
	font-size: 1.6rem;
	line-height: 1.5;
	color: #333333;
}

.navbar {
	box-shadow: 0 1px 5px 0px #333;
	font-family: "Cinzel";
  background-color: white;
  border-bottom: 0;

}

.navbar-default .navbar-nav > li > a  {
  color: #333333;
  font-size: 1.4rem;
}

.navbar-default .navbar-brand {
  font-family: 'Cinzel';
  font-size: 3rem;
  color: #333333;
}

/*---- .prompt ----*/
.install {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.install pre {
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1.75;
}

pre code {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.container a {
  text-decoration: underline;
}

pre {
  margin-bottom: 30px;
  font-weight: normal;
  line-height: 1.8;
  background-color: #f0f0f0;
}

/*~~~~~~~~~~~ Navigation ~~~~~~~~~~~*/


.fa {
  font-size: 28px;
}

.navbar-right {
  margin-right: 8px;
}

.dropdown-menu {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.container {
  margin-top: 60px;
}

/*~~~~~~~~~~~ Headings ~~~~~~~~~~~*/


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Cinzel";
  color: inherit;
}

h1 {
  width: 100%;
  margin-bottom: 40px;
}

h2 {
  line-height: 1.3em;
  margin-bottom: 20px;
}

h3 {
  line-height: 1.3em;
  margin-bottom: 20px;
}

h4 {
  line-height: 1.3em;
  margin-bottom: 20px;
}

.hp .grey-box h3 {
  font-size: 150%;
}

.center {
  text-align: center;
}

.header-box h2 {
	font-size: 120%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -20px;
	line-height: 1.3em;
	width: 90%;
	font-weight: 400;
}

.fullwidthtop {
	width: 100%;
	padding: 30px;
	margin-top: 51px;
	margin-bottom: 30px;
	background-color: #379199;
	box-shadow: 0 1px 5px -1px #333;
}

.header-box {
	padding: 0;
	font-size: 21px;
	line-height: 2;
	color: #fff;
	text-align: center;
}

span.rule-r {
border-bottom: 1px solid #ddd;
height: 1px;
float: right;
width: 46%;
}

span.rule-l {
border-bottom: 1px solid #ddd;
height: 1px;
float: left;
width: 46%;
}

.sep {
	width: 64.583333333333%;
	margin: 40px auto;
	height: 20px;
}

span.star {
	width: 20px;
	height: 20px;
	margin: 0 auto -11px auto;
	display: block;
}

/* ~~~~~~~~~ Links ~~~~~~~~~ */


a {
	color: #f07057;
}

a:hover {
	color: #333;
}


/* ~~~~~~~~~ Hover Boxes Grey ~~~~~~~~~ */

.grey-box {
  display: block;
  font-size: 90%;
  padding: 20px 20px;
  text-align: center;
  color: #333;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background .35s ease-in-out;
  -moz-transition: background .35s ease-in-out;
  -ms-transition: background .35s ease-in-out;
  -o-transition: background .35s ease-in-out;
  transition: background .35s ease-in-out;
}

.container .col-md-4 .grey-box {
  text-decoration: none;
}

.grey-box:hover {
  background: #dedede;
  text-decoration: none;
}


/* ~~~~~~~~~ Footer ~~~~~~~~~ */


.footer-one {
  width: 100%;
  padding: 30px;
  margin-top: 50px;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 21px;
  float: left;
  text-align: center;
  background-color: #379199;
  box-shadow: 0 -1px 5px 0 #333;
}


.footer-two {
  width: 100%;
  padding: 30px;
  float: left;
  margin-top: -50px;
  margin-bottom: -50px;
  font-size: 15px;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  box-shadow: 0 -1px 5px 0 #333;
  background-color: #666;
}

.footer-two a {
  color: #fff;
  text-decoration: underline;
}

.footer-one a {
  color: #fff;
  text-decoration: none;
}

.footer-one h1 {
  font-family: 'Cinzel';
  font-size: 3em;
  font-weight: normal;
}

.social {
	padding: 60px 0 30px 0;
	font-style: normal;
	font-weight: 900;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 4px;
  font-family: 'Cinzel';
}

.social p a i {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container ul {
  margin-bottom: 2rem;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  .navbar {
    position: relative;
    margin-bottom: 0;
  }
  .navbar-header {
    text-align: center;
    margin-top: 1rem;
  }
  .navbar-brand  {
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
  .navbar-nav {
    text-align: center;
  }
  .fullwidthtop {
    margin-top: 0;
  }
  .header-box h1 {
    font-size: 3rem;
  }
  .header-box h2 {
    font-size: 2rem;
  }
  .header-box img {
    width: 100%;
  }
  .install {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .install pre {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .container h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .container h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .container h3 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .container h4 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .header-box img {
    width: auto;
  }
  .install pre {
    font-size: 3rem;
  }
}

/* tablet, landscape iPad, laptops and desktops */
@media (min-width:961px) {
  .install {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .install pre {
    font-size: 4rem;
  }
  .container h1 {
    font-size: 5.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .container h2 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .container h3 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .container h3 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

}
