<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="error">
    {{> menu}}

    
    <header role="banner">
      <div class="container-fluid">
        <div class="row center-xs">
          <div class="col-xs-12 col-md-10 col-lg-10">
            <img src="images/illustration-top.svg" alt="Design, develop and organize code" title="Design, develop and organize code" height="auto" width="320" class="mt">
          </div>
          <!-- col -->
        </div>
      </div>
    </header>
    
    <main class="container-fluid" role="main">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          {{{contents}}}
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          <p>
            Issues? From spelling errors to broken tutorials and everything in between, report
            them <a href="https://github.com/senecajs/senecajs.org/issues">here.</a>
          </p>
        </div>
      </div>
    </main>
    {{> footer}}

    {{> algolia}}
    {{> analytics}}
  </body>
</html>
