<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body class="error">
    {{> menu}}
    {{> banner}}

    <main class="container-fluid" role="main">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          {{{contents}}}
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          <p>
            Issues? From spelling errors to broken tutorials and everything in between, report
            them <a href="https://github.com/senecajs/senecajs.org/issues">here.</a>
          </p>
        </div>
      </div>
    </main>

    {{> footer}}
    {{> algolia}}
    {{> analytics}}
  </body>
</html>
