<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu}}

    <div class="fullwidthtop">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="header-box">
            <img src="/images/icon-top.png" alt="design, develop, organise code" title="design, develop, organise code" height="auto" width="460">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row clearfix hp">
        {{{contents}}}
      </div>
      <br /> <br />

      <p>Find any issues? Ranging from <em>spelling errors</em> to <em>broken tutorials</em> and everything inbetween, post them <a href="https://github.com/senecajs/senecajs.org/issues">here.</a> We wont mind, we promise!</p>

    </div>
    {{> footer}}

    {{> analytics}}
  </body>
</html>
