<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu}}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="header-box">
            <img src="/images/icon-top.png" alt="design, develop, organise code" title="design, develop, organise code" height="auto" width="460">
          </div>
        </div>
      </div>
    </div>

    <main role="main">
      {{{contents}}}
    </main>
      
      <div class="callout">
        <p>
          Issues? From spelling errors to broken tutorials and everything in between, report
          them <a href="https://github.com/senecajs/senecajs.org/issues">here.</a>
        </p>
      </div>
    </div>
    {{> footer}}

    {{> algolia}}
    {{> analytics}}
  </body>
</html>
