<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu}}

    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          
          <section>
            <img src="images/icon-top.png" alt="design, develop, organize code" title="design, develop, organize code" height="auto" width="460">
            <h1>Design, develop and organize your code</h1>
            <p class="txt-lead">Seneca is a microservices toolkit for Node.js. <br>
            It helps you write clean, organized code that you can scale and deploy at any time.</p>
          </section>
          
          <pre> $ npm install seneca --save </pre>

          {{> seperator}}
    
          <div class="row">
            <h2 class="col-xs-12">What is Seneca?</h2>
            <div class="col-xs-12 col-md-6 txt-left">
              <p>Seneca is a microservices toolkit for Node.js. It provides plugins that look after the foundations of your app. This leaves you free to focus on the real, business code. No need to worry about which database to use, how to structure your components, or how to manage dependencies. Just start coding.</p>
            </div>

            <div class="col-xs-12 col-md-6 txt-left">
              <p>You write everything as a command. Your commands get called whenever they match a set of properties. Your calling code doesn't know, or care, which command gets the work done. One JavaScript object goes in, and another comes out, asynchronously.</p>
            </div>
          </div>

          {{> seperator}}
    
          <div class="row">
            <h1 class="col-xs-12">Try Seneca now</h1>
            
            <div class="col-xs-12 col-md-4">
              <a href="https://github.com/senecajs/seneca">
                <i class="fa fa-download fa-5x"></i>
                <h3>Download and install</h3>
              </a>
              </div>

              <div class="col-xs-12 col-md-4">
                <a href="/get-started/">
                  <i class="fa fa-bolt fa-5x"></i>
                  <h3>Quick start</h3>
                </a>
              </div>

              <div class="col-xs-12 col-md-4">
                <a href="https://github.com/senecajs/seneca/releases">
                  <i class="fa fa-refresh fa-5x"></i>
                  <h3>Updates and releases</h3>
                </a>
              </div>
            </div>

            {{> seperator}}

          <div class="row txt-left">
            <div class="col-xs-12">
              {{{ contents }}}
            </div>
          </div>

          {{> seperator}}
          
          <div class="row">
            <h2 class="col-xs-12 txt-center">Who’s using Seneca</h2>
            <div class="col-xs-12 txt-left">
              <a href="http://www.intel.ie/content/www/ie/en/homepage.html" class="logo-company">
                <img src="images/logo-intel.svg" height="50" alt="Intel">
              </a>
              <a href="https://coderdojo.com/" class="logo-company">
                <img src="images/logo-coderdojo.svg" height="50" alt="coderDojo">
              </a>
              <a href="http://www.globalsecurity.ie/" class="logo-company">
                <img src="images/logo-gsd.jpg" height="50" alt="Global Security Devices">
              </a>
              <a href="http://solidearth.com/" class="logo-company">
                <img src="images/logo-solid-earth.png" height="50" alt="Solid Earth Real Estate">
              </a>
              <a href="http://www.businesspost.ie/" class="logo-company">
                <img src="images/logo-sunday-business-post.png" height="50" alt="Sunday Business Post">
              </a>
              <a href="http://www.londonschoolofmarketing.com/london-school-of-marketing-home" class="logo-company">
                <img src="images/logo-london-school-of-marketing.png" height="50" alt="London School of Marketing">
              </a>
              <a href="http://3funnel.com/" class="logo-company">
                <img src="images/3funnel.png" height="50" alt="3funnel">
              </a>
              <a href="http://i-sight.com/" class="logo-company">
                <img src="images/iSight.png" height="50" alt="i-sight">
              </a>
              <a href="http://www.openjawtech.com/" class="logo-company">
                <img src="images/openjaw2.png" height="50" alt="Openjaw Technology">
              </a>
              <a href="https://ninjablocks.com/" class="logo-company">
                <img src="images/ninja-long-black.png" height="50" alt="Ninjablocks">
              </a>
              <a href="https://www.nearform.com/" class="logo-company">
                <img src="images/nearform.png" height="50" alt="nearForm">
              </a>
              <a href="http://oddnetworks.co/" class="logo-company">
                <img src="images/odd-networks-logo.svg" height="50" alt="Odd Networks">
              </a>
              <a href="http://www.thecitysecret.com/" class="logo-company">
                <img src="images/tcs-logo.svg" height="50" alt="TCS">
              </a>
            </div>
            <div class="col-xs-12 txt-left">
              <p class="mtb2x">Do you use Seneca too?
                <a href="https://github.com/senecajs/senecajs.org/issues/new">Let us know</a>.
              </p>
            </div>
          </div>

        </div>
        <!-- main col -->
      </div>
      <!-- main row -->
    </div>
    <!-- container fluid -->

    {{> footer}}

    {{> algolia}}
    {{> analytics}}
  </body>
</html>
