<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu}}

    <div class="fullwidthtop">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="header-box">
            <img src="images/icon-top.png" alt="design, develop, organise code" title="design, develop, organise code" height="auto" width="460">
            <h1 class="hp">design, develop and organize your code</h1>
            <h2 class="hp">Seneca is a microservices toolkit for Node.js. It helps you write clean, organized code that you can scale and deploy at any time.</h2>
          </div>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row clearfix hp'>
        <section class="install">
          <pre> $ npm install seneca --save </pre>
        </section>
      </div>

      {{> seperator}}

      <h1 class="center">What is Seneca?</h1>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <p>
            Seneca provides plugins that look after the foundations of your app. This leaves you free to focus on the real, business code. No need to worry about which database to use, how to structure your components, or how to manage dependencies. Just start coding.
          </p>
        </div>

        <div class="col-md-6 column">
          <p>
            You write everything as a command. Your commands get called whenever they match a set of properties. Your calling code doesn't know, or care, which command gets the work done. One JavaScript object goes in, and another comes out, asynchronously.
          </p>
        </div>
      </div>

      {{> seperator}}

      <h1 class="center">Try Seneca now</h1>
      <div class="row clearfix hp">
        <div class="col-md-4">
          <a class="grey-box" href="https://github.com/rjrodger/seneca">
            <i class="fa fa-download fa-5x"></i>
            <h3>Download and install</h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="grey-box" href="/get-started/">
            <i class="fa fa-bolt fa-5x"></i>
            <h3>Quick start</h3>
          </a>
        </div>

        <div class="col-md-4">
          <a class="grey-box" href="https://github.com/rjrodger/seneca/releases">
            <i class="fa fa-refresh fa-5x"></i>
            <h3>Updates and releases</h3>
          </a>
        </div>
      </div>

      {{> seperator}}

      <section class="content row">
        {{{ contents }}}
      </section>
      
      {{> seperator}}

      <section class="usingSeneca">
        <h1 class="center">Who's using Seneca</h1>
        <div class="row clearfix">
          <div class="cf">
          <a href="http://www.intel.ie/content/www/ie/en/homepage.html" class="companies-logo"><img src="images/intel.png" width="100" alt="intel logo"></a>
            <a href="https://coderdojo.com/" class="companies-logo"><img src="images/coderDojo.png" width="170" alt="coderDojo logo"></a>
            <a href="http://www.globalsecurity.ie/" class="companies-logo"><img src="images/gsd.jpg" width="100" alt="Global Security Devices logo"></a>
            <a href="http://solidearth.com/" class="companies-logo"><img src="images/solid-earth.png" width="170" alt="solid earth real estae technology logo"></a>
            <a href="http://beatyourmanager.ie/" class="companies-logo"><img src="images/beat-your-manager.png" height="80" alt="beat your manager logo"></a>
            <a href="http://www.businesspost.ie/" class="companies-logo"><img src="images/sunday-business-post.png" width="170" alt="Sunday business post logo"></a>
            <a href="http://www.londonschoolofmarketing.com/london-school-of-marketing-home" class="companies-logo"><img src="images/london-school-of-marketing.png" width="210" alt="London school of marketing logo"></a>
            <a href="http://3funnel.com/" class="companies-logo"><img src="images/3funnel.png" width="170" alt="3funnel logo"></a>
            <a href="http://i-sight.com/" class="companies-logo"><img src="images/iSight.png" height="80" alt="i-sight logo"></a>
            <a href="http://www.openjawtech.com/" class="companies-logo"><img src="images/openjaw2.png" height="65" alt="openjaw technlolgy logo"></a>
            <a href="https://ninjablocks.com/" class="companies-logo"><img src="images/ninja-long-black.png" width="170" alt="ninjablocks logo"></a>
            <a href="https://nearform.com/" class="companies-logo"><img src="images/nearform.png" width="160" alt="nearform logo"></a>
          </div>
        </div>
        <br />
          <p>Do you use Seneca too? 
            <a href="https://github.com/senecajs/senecajs.org/issues/new">Let us know</a>.
          </p>
        </div>
      </section>

    </div>

    {{> footer}}

    {{> analytics}}
  </body>
</html>
