@import 'config';

/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom-color: $primary-color;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: $secondary-color;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: $white;
}
.algolia-docsearch-suggestion--content .algolia-docsearch-suggestion--highlight {
  color: $primary-color;
}

  /* Highligted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: $secondary-color;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: $primary-color;
}

.aa-cursor .algolia-docsearch-suggestion {
  background: lighten($secondary-color, 50%);
}

/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
    border-bottom-color: $primary-color;
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: darken($primary-color, 15%);
    background-color: $primary-color;
    color: #4E4726;
  }
}
