
//-- header.scss

@import "./variables";

.api-box {
  @extends .box;

  border: $ui-border;
  border-radius: $ui-radius;

  height: 10rem;
  margin-bottom: 2rem;
  background-color: $gray-lighter;

  &:hover {
    background-color: $green-lighter;
  }

  h4 {
    margin: 0rem;
    padding: 0.3rem;
    font-family: $font-monospaced;
    color: green;
  }

  h5 {
    margin: 0rem;
    padding: 0.3rem;
    font-family: $font-monospaced;
    color: green;
    font-size: 0.8rem;
    color: green;

    i {
      color: purple;
    }

    b {
      font-size: 1.2rem;
    }

    u {
      text-decoration: none;
      font-family: $font-monospaced;
    }            
  }

  p {
    margin: 0rem;
    padding: 0rem 0.3rem 0.3rem 0.3rem;
    font-family: $font-merriweather;
    color: black;
    font-size: 0.8rem;

    i {
      color: purple;
      font-weight: bold;
    }

    &.top {
      font-size: 1.2rem;
    }
  }

  ul {
    margin: 0rem;
    padding: 0rem 0rem 0rem 0.3rem;
  }

  li {
    font-size: 0.8rem;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    color: black;

    i {
      color: purple;
    }            

    u {
      text-decoration: none;
      font-family: $font-monospaced;
      font-size: 0.8rem;
    }            
  }
}

.api-subhead {
  float: left;
  margin: 4rem 0rem 0rem 0rem;

  i {
    color: purple;
  }            

  b {
    color: green;
    font-family: $font-open-sans;
  }
}

.api-back {
  display: block;
  float: left;
  margin: 5rem 0rem 1rem 1rem;
  font-size: $font-small;
}

.api-desc {
  margin: 0rem;
  padding: 0rem 0rem 0rem 0.6rem;

  u {
    text-decoration: none;
    font-family: $font-monospaced;
    font-size: 0.8rem;
  }            

  b {
    color: green;
  }            

  h4 {
    font-size: 1rem;
    margin: 0.6rem 0rem 0rem 0rem;
    padding: 0rem;
    font-weight: bold;
  }

  ul {
    margin: 0rem;
    padding: 0rem;
  }

  li {
    font-size: 1rem;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    color: black;

    i {
      color: purple;
    }            
  }


  tr {
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: 0px;
    }
  }   

  td {
    vertical-align: top;
    padding: 0rem 2rem 0.1rem 0rem;

    i {
      color: purple;
    }            

    u {
      text-decoration: none;
      font-family: $font-monospaced;
      font-size: 0.8rem;
    }            
  }

  p {
    margin: 0rem 0rem 0.4rem 0rem;

    &.desc {
      margin: 0rem;
    }
  }
}