
//-- base.scss

@import "./variables";

// Box sizing
*, *:after, *:before {
  box-sizing: border-box;
}

// Selection highlight
::-moz-selection {
  background-color: $green-lighter;
}

::selection {
  background-color: $green-lighter;
}

// Paragraphs
p {
  margin-top: 0;
  margin-bottom: $ui-spacing;
}

// Links
a {
  color: $green;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in;

  &:hover {
    color: $green-light;
  }

  &:focus {
    outline: none;
  }
}

// Clearfix
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

// Media
img, iframe, video {
  max-width: 100%;
}

// Separator
.separator {
  position: relative;
  margin: $ui-spacing-double 0 $ui-spacing 0;
  height: 1px;
  background-color: $gray-light;
}

hr {
  margin: $ui-spacing 0;
  border: $ui-border;
}
