.seneca-navbar .seneca-search {
  position: relative;
  display: table;
  padding:15px 0px 0px 0px;
  border-bottom: 2px solid #333;
  margin: 0 auto;
  width: 200px;
  &:before {
    content: "\f002";
    display: table-cell;
    color: #333;
    vertical-align: middle;
    font-family: "FontAwesome";
    text-align: center;
    width: 30px;
  }
}

.seneca-navbar .seneca-search--input {
  width: 170px;
  display: table-cell;
  margin: 0 auto;
  font-weight: normal;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
  &:focus {
    outline: 0;
    box-shadow: none;
    border: 0px;
  }
}

// Screen big enough to display all menu elements, but still too small to
// display the search input.
@media (min-width: 768px) {
  .seneca-navbar .seneca-search {
    display: none;
  }
}

// Screen big enough to display the search input alongside the menu
@media (min-width: 1280px) {
  .seneca-navbar .seneca-search {
    display: table;
  }
  .seneca-navbar .seneca-search {
    width: 300px;
  }
  .seneca-navbar .seneca-search--input {
    margin: 0px;
    width: 270px;
  }
}

// From https://github.com/eslint/eslint.github.io/blob/a6082ceee6f837cffec1c3e13ce345dba1a1fbed/styles/search.css
// thanks to Pixelastic
@import 'config';

/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom-color: $primary-color;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: $secondary-color;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: $white;
}
.algolia-docsearch-suggestion--content .algolia-docsearch-suggestion--highlight {
  color: $primary-color;
}

/* Highligted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: $secondary-color;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: $primary-color;
}

.aa-cursor .algolia-docsearch-suggestion {
  background: lighten($secondary-color, 50%);
}

/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
    border-bottom-color: $primary-color;
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: darken($primary-color, 15%);
    background-color: $primary-color;
    color: #4E4726;
  }
}